<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Area Aluno</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

</head>

<body>

  <section id="title">

    <div class="container-disciplina">
        <p class="info">Informações da disciplina ou laboratorio</p>
    
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="">Area do Aluno</a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <button type="button" class="btn btn-link casa">Em atividade</button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-link casa">Dúvidas</button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-link">Ausente</button>
              </li>
              <li class="nav-item">
                <a href="encerrar.html"><button type="button" class="btn btn-link" >Finalizar atividade</button></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    

  </section>

  <!-- Features -->

  <section id="features">
    <div>
        <h1>Atividade</h1>
        <center><img src="../public/imagens/atividade.png" alt="Imagem Atividade"></center>
    </div>
    <div>
        <button id="button-proximo">Proximo</button>
        <button id="button-anterior">Anterior</button>
    </div>

    
  </section>
  <!-- Footer -->

  <footer id="footer">


  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="../aluno.js"></script>
</body>

</html>
