<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Atividade encerrada</title>
</head>
<body>
    <section id="title">

        <div class="container-disciplina">
            <p class="info">Informações da disciplina ou laboratorio</p>
        </div>
    </section>
    <div>
        <h1>Sua sessão foi encerrada</h1>
        <p class="info">Sua última sessão foi finalizada indicando que você finalizou sua atividade e notificou o professor.</p>
    </div>
</body>
</html>